.cerrar{
    background-color:  rgb(24, 23, 23);
    color:rgb(250, 197, 21);
}

.ventana{
    background-color: rgb(250, 197, 21);
}

.titulo{
    font-size: 15px;
}

.checkbox{
    margin-left: 15px;
    margin-top: 10px;
}