.foto{
    width: 50%;
    margin-left: 300px;
    margin-top: 50px;
    border-radius: 30px;
}

.p{
    margin-top: 30px;
}

@media (min-width: 300px) and (max-width: 992px){
    .foto{
        margin-left: 27vw;
    }
}