.h2{
    color:rgb(75, 74, 74);
    margin-left: 160px;
    margin-top: 80px;
    font-size: 35px;
}

.dichi{
    margin-top: 30px;
    margin-left: 230px;
    border-radius: 15px;
}

.h3{
    color:rgb(75, 74, 74);
    margin-top: 30px;
    margin-left: 170PX;
    width: 70%;
}
.p{
    margin-top: 30px;
    width: 70%;
    color:rgb(75, 74, 74);
    margin-left: 200px;
}
.hr{
    width: 50%;
    margin-left: 300px;
    border: solid 1px ;
    margin-top: 60px;
}
@media (min-width: 300px) and (max-width: 992px){
    .h2{
        margin-left: 2vw;
    }
    .dichi{
        width: 90%;
        margin-left: 2vw;
    }
    .h3{
        margin-left: 2vw;
    }
    .p{
        margin-left: 2vw;
    }
    .hr{
        margin-left: -3vw;
    }
}