.foto{
    width: 50%;
    margin-left: 300px;
    margin-top: 50px;
}

.p{
    margin-left: 300px;
    margin-top: 20px;
}

.form{
    background-color: rgb(250, 197, 21);
}

@media (min-width: 300px) and (max-width: 992px){
    .foto{
        margin-left: 20vw;
    }
    .p{
        margin-left: 3vw;
    }
    
}