
body{
    background-color: #E5E7E9;
}

.h2{
    color:rgb(75, 74, 74);
    margin-left: 160px;
    margin-top: 90px;
    font-size: 35px;
}

.h3{
    color:rgb(75, 74, 74);
    width: 85%;
    margin-left: 160px;
    text-align: start;
}

.billete{
    margin-top: 50px;
    margin-left: 230px;
    border-radius: 15px;
}

.p1{
    margin-top: 60px;
    width: 70%;
    color:rgb(75, 74, 74);
    margin-left: 200px;
}

.h4{
    color:rgb(75, 74, 74);
    margin-top: 60px;
    margin-left: 250PX;
}

.ul1{
    color:rgb(75, 74, 74);
    margin-top: 50px;
    margin-left: 300px;
    margin-bottom: 60px;
}

.h31{
    color:rgb(75, 74, 74);
    width: 85%;
    margin-left: 260px;
    
}

.p2{
    margin-top: 10px;
    width: 70%;
    color:rgb(75, 74, 74);
    margin-left: 200px;
}

.h6{
    margin-left: 200px;
    color:rgb(75, 74, 74);
}

.ul2{
    color:rgb(75, 74, 74);
    margin-top: 30px;
    margin-left: 300px;
    margin-bottom: 60px;
}

.hr{
    width: 50%;
    margin-left: 300px;
    border: solid 1px ;
    margin-top: 30px;
}

@media (min-width: 300px) and (max-width: 992px){
    .h2{
margin-left: 3vw;
    }
    .h3{
        margin-left: 2vw;
    }
    .billete{
        width: 100%;
        margin-left: 1vw;
    }
    .p1{
        margin-left: 2vw;
    }
    .h4{
        margin-left: 2vw;
    }
    .ul1{
        margin-left: 2vw;
    }
    .h31{
        margin-left: 4vw;
    }
    .p2{
       margin-left: 4vw;
    }
    .h6{
        margin-left: 5vw;
    }
    .ul2{
        margin-left: 2vw;
    }
    .hr{
        margin-left: 3vw;
    }
}