.h2{
    color:rgb(75, 74, 74);
    margin-left: 210px;
    margin-top: 90px;
    font-size: 35px;
}
.turismo{
    margin-top: 50px;
    margin-left: 230px;
    border-radius: 15px;
}

.p1{
    margin-top: 60px;
    width: 70%;
    color:rgb(75, 74, 74);
    margin-left: 200px;
}

.h3{
    color:rgb(75, 74, 74);
    margin-left: 360px;
    margin-top: 90px;
    font-size: 35px;
}
.hr{
    width: 50%;
    margin-left: 300px;
    border: solid 1px ;
    margin-top: 30px;
}
@media (min-width: 300px) and (max-width: 992px){
    .h2{
        margin-left: 2vw;
    }
    .turismo{
        margin-left: 1vw;
        width: 100%;
    }
    .p1{
        margin-left: 3vw;
    }
    .h3{
        margin-left: 2vw;
    }
    .hr{
        margin-left: -3vw;
    }
}