.footer{
    background-color: rgb(24, 23, 23);
    padding: 30px;
    margin-top: 15px;
}

.v{
    color: whitesmoke;
    text-decoration:underline;
    font-size: 17px;
    opacity: 60%;
    margin-top: -10px;
}
.datos{
    color: whitesmoke;
    opacity: 30%;
    font-size: 13px;
}

.derechos{
    margin-top: 40px;
    margin-left: 250px;
    color:whitesmoke;
    opacity: 20%;
}
@media (min-width: 300px) and (max-width: 992px){
    .derechos{
        margin-left:-20px;
        width: 80%;
    }
}