.h2{
    color:rgb(75, 74, 74);
    margin-left: 160px;
    margin-top: 80px;
    font-size: 35px;
}
 
.visto{
    margin-top: 30px;
    margin-left: 230px;
    border-radius: 15px;
}

.h4{
    color:rgb(75, 74, 74);
    margin-top: 60px;
    margin-left: 170PX;
    width: 70%;
}

.p1{
    margin-top: 30px;
    width: 70%;
    color:rgb(75, 74, 74);
    margin-left: 200px;
}

.h3{
    color:rgb(75, 74, 74);
    margin-top: 30px;
    margin-left: 370PX;
   
}

.ul{
    color:rgb(75, 74, 74);
    margin-top: 40px;
    margin-left: 370PX;
    
}

.li{
    width: 70%;
}

.h31{
    color:rgb(75, 74, 74);
    margin-top: 30px;
    margin-left: 370PX;
}

.h6{
    color:rgb(75, 74, 74);
    margin-top: 30px;
    margin-left: 210PX;
    width: 70%;
}

.h41{
    color:rgb(75, 74, 74);
    margin-top: 60px;
    margin-left: 370PX;
    width: 70%;
}

.h21{
    color:rgb(75, 74, 74);
    margin-left: 280px;
    margin-top: 80px;
    font-size: 35px;
    width: 50%;
}

.hr{
    width: 50%;
    margin-left: 300px;
    border: solid 1px ;
    margin-top: 30px;
}