.container {
  background-color: rgb(53, 53, 51);
  padding: 1vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
width: 100%;
 
}

.search {
margin-top: 4vw;
  width: 20%;
  margin-right: 5vw;
}

.search1 {
  margin-top: 4vw;
margin-left: -10vw;
  width: 20%;
}

.datar{
  margin-top:4vw;
  margin-left: 2vw;
}

.dataa{
  margin-top: 4vw;
  margin-left: -5vw;
}

.data3{
  margin-left:-2vw;
  margin-top: 5.8vw;
  color:rgb(250, 197, 21);
}
.react-datepicker__input-container input {
  height: 40px; /* aumenta la altura del cuadro de texto a 40 píxeles */
}

.cheack1,
.cheack2 {
  color:rgb(250, 197, 21);
}
input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  border: 1px solid rgb(250, 197, 21);
  outline: none;
}

input[type="checkbox"]:checked {
  background-color: rgb(250, 197, 21);
}
.cheack1 + *,
.cheack2 + * {
  margin-top: 1vw;
}

.button{
  border: none ;
 background-color: rgb(250, 197, 21);
 padding: 0.4vw;
  border-radius: 0.5vw;
  margin-left: 81vw;
  margin-top: -5.4vw;
  width: 3.5%;
}
 
.button2 {
  border: none !important;
  background-color: rgb(250, 197, 21);
  padding: 1vw;
  border-radius: 0.2vw;
  margin-left: 35vw;
  margin-top: 5vw;
}
.bu{
  margin-top: 1.5vw;
  margin-left: 8vw;
  width: 100%;
}
.text {
  margin-top: 10vw;
  margin-left: 20vw;
}

.p1 {
  margin-left: 10vw;
}

.h4 {
  margin-top: 5vw;
  margin-left: 18vw;
}

.p2 {
  margin-top: 3vw;
  margin-left: 28vw;
}

.p3 {
  margin-left: 40vw;
  margin-top: 5vw;
  padding: 1vw;
  background-color: rgb(250, 197, 21);
  width: 8vw;
  border-radius: 2vw;
}

.p3:hover {
  background-color: rgb(53, 53, 51);
  color: whitesmoke;
}

@media (min-width: 300px) and (max-width: 900px) {
  .search,
  .search1 {
    width: 100%;
  }
  .data3 {
    margin-top: 23vw;
    margin-left: -55vw;
  }
  .datar,
  .dataa {
    margin-left: -1vw;
  }
  .bu {
    margin-top: -8.5vw;
    
   
  }

  .button{
    width: 13%;
    margin-left: 40vw;
  }
}
