.nav {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  background-color: black;
  color: rgb(250, 197, 21);
  padding: 10px;
}

.logo {
  max-width: 50%;
  height: auto;
}

.links-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.links-container a {
  display: inline-block;
  color: rgb(250, 197, 21);
  text-decoration: none;
  margin-right: 20px;
  padding-bottom: 5px;
  border-bottom: 3px solid transparent;
  transition: border-color 0.2s ease-in-out;
}

.links-container a:hover,
.links-container a:active {
  border-color: gray;
  color: gray;
}

.links-container ul {
  visibility: hidden;
  opacity: 0;
  z-index: 1;
}

.links-container ul.dropdown {
  width: 200px;
  position: absolute;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
  background-color: black;
  padding: 10px;
  z-index: 1;
  margin-top: 30px;
  display: none;
}

.links-container > :nth-child(4):hover + ul.dropdown,
.links-container ul.dropdown:hover {
  visibility: visible;
  opacity: 1;
  display: block;
}

.links-container ul li {
  display: block;
  margin-bottom: 10px;
}

.buttons-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.buttons-container button {
  margin-right: 10px;
}

@media (min-width: 400px) and (max-width: 992px) {
  .logo {
    width: 100%;
  }
  
  .nav{
    max-width: 1200px; /* Agrega un ancho máximo */
    width: 100%;
  }
  
  .links-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap; /* Agrega esta propiedad */
  }
  
  .links-container a {
    color: rgb(250, 197, 21);
    display: inline-block; /* Agrega esta propiedad */
    margin: 10px; /* Agrega un margen entre los enlaces */
  }

  .links-container > ul.dropdown {
    position: static; /* Cambia la posición de la lista desplegable */
    transform: none;
    width: 100%;
    margin-top: 10px;
    display: none;
    visibility: visible;
    opacity: 1;
  }
  
  .dropdown li {
    margin-bottom: 10px;
  }
  
  .dropdown a {
    display: block;
    margin-bottom: 5px;
    color: rgb(250, 197, 21);
    text-decoration: none;
  }
}
