.nav {
  background-color: rgb(24, 23, 23);
  padding: 10px;
}

.logo {
  width: 170px;

  margin-left: 35px;
  margin-top: -40px;
  margin-bottom: 30px;
}

.registro {
  color: rgb(250, 197, 21);

  margin-left: 50px;
  background-color: rgb(53, 53, 51);
  border: none;
}

.inicio {
  color: rgb(250, 197, 21);

  margin-left: 920px;
  background-color: rgb(53, 53, 51);
  border: none;
}
.ayuda {
  color: rgb(250, 197, 21);
  margin-left: 20px;
}

.container {
  display: flex;
}

.visti {
  color: rgb(250, 197, 21);
  margin-left: -350px;
}

.traduzione {
  color: rgb(250, 197, 21);
  margin-left: 200px;
}

.voil {
  color: rgb(250, 197, 21);
  margin-left: 100px;
}

.taxi {
  color: rgb(250, 197, 21);
  margin-left: 60px;
  margin-top: -5px;
}

.menu3:hover .dropdown {
  display: block;
  position: absolute;
  background-color: rgb(24, 23, 23);
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 200px;
  z-index: 9999;
  left: 510px;
  margin-top: -1px;
}

.menu3:hover .dropdown li {
  padding: 10px;
}

.menu3:hover .dropdown li:hover {
  background-color: rgb(53, 53, 51);
}

.menu3:hover .dropdown a {
  color: rgb(250, 197, 21);
  text-decoration: none;
}

.menu3:hover .dropdown a:hover {
  color: white;
}

a {
  color: inherit;
  text-decoration: none;
}

.dropdown {
  display: none;
}
@media (max-width: 768px) {
  .logo {
    width: 100px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .registro, .inicio {
    margin-left: 10px;
  }
  
  .menu3:hover .dropdown {
    left: 10px;
  }
  
  .visti {
    margin-left: -200px;
  }
  
  .traduzione {
    margin-left: 50px;
  }
  
  .voil {
    margin-left: 10px;
  }
  
  .taxi {
    margin-left: 10px;
  }
}
