.navbar-nav .nav-link:hover {
  color: #ffffff !important;
}

.dropdown-menu {
  background-color: #f8f9fa !important;
  border: none !important;
  border-radius: 0px !important;
}

.dropdown-menu a {
  color: #000000 !important;
}

.dropdown-menu a:hover {
  color: #ffffff !important;
  background-color: #6c757d !important;
}

.navbar-brand .logo {
  width: 100px !important;
}

.navbar-dark .navbar-nav .nav-link,
.navbar-dark .navbar-nav .dropdown-toggle {
  color: yellow !important;
}

/* Ajustes para los links en amarillo */
.navbar-dark .navbar-nav .nav-link {
  color: yellow !important;
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link:focus {
  color: #ffffff !important;
}

.dropdown-item {
  color: yellow !important;
}

.dropdown-item:hover {
  color: #ffffff !important;
  background-color: #6c757d !important;
}

.text-yellow {
  color: yellow !important;
}
.bg-yellow {
  background-color: yellow;
}