.nav {
  background-color: rgb(24, 23, 23);
  padding: 10px;
 
}

.logo {
  width: 170px;

  margin-left: -1035px;
  margin-top: 5px;
  margin-bottom: 30px;
}

.registro {
  color: rgb(250, 197, 21);

  margin-left: 50px;
  background-color: rgb(53, 53, 51);
  border: none;
}

.inicio {
  color: rgb(250, 197, 21);

  margin-left: 920px;
  background-color: rgb(53, 53, 51);
  border: none;
}
.ayuda {
  color: rgb(250, 197, 21);
  margin-left: 20px;
}

.container {
  display: flex;
}

.visti {
  color: rgb(250, 197, 21);
  margin-left: -350px;
}

.traduzione {
  color: rgb(250, 197, 21);
  margin-left: 200px;
}

.voil {
  color: rgb(250, 197, 21);
  margin-left: 100px;
}

.taxi {
  color: rgb(250, 197, 21);
  margin-left: 60px;
  margin-top: -5px;
}

.menu3:hover .dropdown {
  display: block;
  position: absolute;
  background-color: rgb(24, 23, 23);
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 200px;
  z-index: 9999;
  left: 510px;
  margin-top: -1px;
}

.menu3:hover .dropdown li {
  padding: 10px;
}

.menu3:hover .dropdown li:hover {
  background-color: rgb(53, 53, 51);
}

.menu3:hover .dropdown a {
  color: rgb(250, 197, 21);
  text-decoration: none;
}

.menu3:hover .dropdown a:hover {
  color: white;
}

a {
  color: inherit;
  text-decoration: none;
}

.dropdown {
  display: none;
}




 @media only screen and (max-width: 600px) {

  .nav {
  padding: 5px;
  }
  
  .logo {
  width: 120px;
  margin-left: -60px;
  margin-top: 5px;
  margin-bottom: 10px;
  }
  
  .registro {
  margin-left: 5px;
  font-size: 12px;
  }
  
  .inicio {
  margin-left: 50%;
  transform: translateX(-50%);
  font-size: 12px;
  }
  
  .ayuda {
  margin-left: 5px;
  font-size: 12px;
  }
  
  .visti {
  margin-left: -120px;
  font-size: 12px;
  }
  
  .traduzione {
  margin-left: 60px;
  font-size: 12px;
  }
  
  .voil {
  margin-left: 5px;
  font-size: 12px;
  }
  
  .taxi {
  margin-left: 5px;
  margin-top: 0;
  font-size: 12px;
  }
  
  .menu3:hover .dropdown {
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  }
  
  }
